@page
@model ViewModel.Pages.CustomerFolder.ProfileModel
@{
}

<h1>My Profile</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-page-handler="UpdateUser">
    <div class="col-3 ">
        <label asp-for="Customer.CustomerId"></label>
        <br />
        <input type="text" asp-for="Customer.CustomerId" readonly>
    </div>
    <div class="col-3 ">
        <label asp-for="Customer.CustomerName"></label>
        <br />
        <input type="text" asp-for="Customer.CustomerName">
    </div>
    <div class="col-3">
        <label asp-for="Customer.Email"></label>
        <br />
        <input type="text" asp-for="Customer.Email">
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <div class="col-3">
        <label asp-for="Customer.Password"></label>
        <br />
        <input type="password" asp-for="Customer.Password">
    </div>
    <div class="col-3">
        <label asp-for="Customer.Phone"></label>
        <br />
        <input type="text" asp-for="Customer.Phone">
    </div>
    <br />
    <div class="col-3">
        <button type="submit" class="btn btn-primary">Update User</button>
    </div>
</form>
