@page
@model ViewModel.Pages.Manager.MainScreenModel
@{
}
<h1>Admin page</h1>




<button type="button" class="btn btn-cta"><a asp-page="/Manager/WarehouseManagers/Index">Manage Warehose</a></button>
<button type="button" class="btn btn-cta"><a asp-page="/Manager/ShipperManager/Index">Manage Shipper</a></button>
<button type="button" class="btn btn-cta"><a asp-page="/Manager/CustomerManager/Index">Manage Customer</a></button>