@page "/"
@model ViewModel.Pages.Other.Login
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="loginForm.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="loginForm.Email" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="loginForm.Email"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="loginForm.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="loginForm.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="loginForm.Password"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>
<div> Don't have account yet </div>
